<div class="row-fluid">
  <div class="span2">
    <%= gravatar_image_tag @profile.email, alt: @profile.last_name %>
  </div>
  <div class="span6">
    <h2>
      <%= @profile.first_name %> <%= @profile.last_name %>
      <% if @profile.for_hire %>
        <span class="label label-success">For Hire!</span>
      <% end %>
    </h2>
    <table class="profile_contact_info">
      <tr>
        <th scope="row" style="text-align: left">Phone Number</th>
        <td><%= @profile.phone_number %></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: left">Email</th>
        <td><%= mail_to @profile.email %></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: left">Links</th>
        <td>
          <%= link_to @profile.linkedin_link, @profile.linkedin_link %><br>
          <%= link_to @profile.github_link, @profile.github_link %><br>
          <%= link_to @profile.personal_website_link, @profile.personal_website_link %><br>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row-fluid">
  <div class="span8">
    <h3>Skills</h3>
    <p>
      <%= @profile.skills %>
    </p>
    <% if @profile.courses.size != 0 %>
      <h3>Courses</h3>
      <ul>
        <% @profile.courses.each do |course| %>
          <li><%= link_to course.title, course_path(course) %></li>
        <% end %>
      </ul>
    <% end %>
    <h3>Bio</h3>
    <p>
      <%= @profile.summary %>
    </p>
  </div>
</div>

<div class="row-fluid">
  <button class="btn btn-primary">Download Resume</button>
</div>

