<div class="row-fluid">
  <div class="span2">
    <%= gravatar_image_tag @professional.email, alt: @professional.name %>
  </div>
  <div class="span6">
    <h2>
      <%= @professional.name %>
    </h2>
    <table class="profile_contact_info">
      <tr>
        <th scope="row" style="text-align: left">Phone Number</th>
        <td><%= @professional.phone_number %></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: left">Email</th>
        <td><%= mail_to @professional.email %></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: left">Links</th>
        <td>
          <% unless @professional.links.nil? %>
            <% @professional.links.split(",").each do |link| %>
              <%= link_to(link, link) %><br>
            <% end %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row-fluid">
  <div class="span8">
    <h3>Bio</h3>
    <p>
      <%= @professional.bio %>
    </p>
  </div>
</div>

<div class="row-fluid">
  <%= link_to "Edit Profile", edit_professional_path(@professional), class: "btn btn-primary" %>
</div>

