<%= form_for @student, as: :student, url: student_path, :html => { :class => 'form-horizontal' } do |student_form| %>
  <%= student_form.fields_for :profile do |f| %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= @student.email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :skills, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :skills, :class => 'input-xxlarge', :rows => '5'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :for_hire, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :for_hire, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :summary, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :summary, :class => 'input-xxlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "LinkedIn", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :linkedin_link, :class => 'input-xxlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Github", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :github_link, :class => 'input-xxlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Personal Website", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :personal_website_link, :class => 'input-xxlarge' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                students_path, :class => 'btn' %>
  </div>
  <% end %>
<% end %>
