<tr id="relationship[<%= relationship.id %>]">
  <% connection_allowed = relationship.connection_allowed? %>
  <td class="status_label"><%= render "status", locals: {connection_allowed: connection_allowed} %></td>
  <td><%= link_to relationship.partner.name, partner_path(relationship.partner) %></td>
  <td><%= link_to relationship.student.name, student_path(relationship.student)  %></td>
  <% if relationship.connection_allowed? %>
    <td><%= link_to "Destroy", admin_relationship_path(relationship),
              method: "delete",
              data: {
                confirm: "Are you sure?"
              },
              class: "btn btn-primary" %></td>
  <% else %>
    <td><%= link_to "Connect", admin_relationship_path(relationship),
              method: "put",
              remote: true,
              class: "btn btn-primary" %>
        <%= link_to "Destroy", admin_relationship_path(relationship),
              method: "delete",
              data: {
                confirm: "Are you sure?"
              },
              class: "btn btn-primary" %></td>
  <% end %>
</tr>
