<tr id="relationship[<%= relationship.id %>]">
  <% connected = relationship.connected? %>
  <td class="status_label"><%= render "status", locals: {connected: connected} %></td>
  <td><%= relationship.partner.name %></td>
  <td><%= relationship.student.name  %></td>
  <% if relationship.connected? %>
    <td><%= link_to "Destroy", admin_relationship_path(relationship),
              method: "delete",
              data: {
                confirm: "Are you sure?"
              },
              class: "btn btn-primary" %></td>
  <% else %>
    <td><%= link_to "Connect", admin_relationship_path(relationship),
              method: "put",
              remote: true,
              class: "btn btn-primary" %>
        <%= link_to "Destroy", admin_relationship_path(relationship),
              method: "delete",
              data: {
                confirm: "Are you sure?"
              },
              class: "btn btn-primary" %></td>
  <% end %>
</tr>