<div class="row">
  <h1>Code Fellows Company Professionals</h1>
</div>

<div class="row">
  <% if @partners.empty? %>
  Sorry, there aren't any partners or professionals here yet...
  <% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Partner Name</th>
        <th>Professional Name</th>
        <th>Professional Email</th>
        <th>Professional Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <% @partners.each do |partner| %>
        <% partner.professionals.each do |professional| %>
          <tr>
            <td><%= partner.name %></td>
            <td><%= professional.name %></td>
            <td><%= professional.email %></td>
            <td><%= professional.phone_number %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>


<!-- <h1>Admin::Professionals#index</h1>

<ul>
<% @partners.each do |partner| %>
  <li> <%= link_to partner.name, admin_partner_path(partner) %>
    <ul>
      <% partner.professionals.each do |professional| %>
        <li> <%= link_to professional.name, admin_professional_path(professional) %> </li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>

 -->