<div class="row-fluid">
  <%= form_for(@invite_request, html: { class: "form-horizontal"} )  do |f| %>
    <legend>Request Invitation</legend>
    <% if @invite_request.errors %>
      <%= f.error_messages %>
    <% end %>

    <div class="control-group">
      <%= f.label :email, "Email", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :first_name, "First Name", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :first_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :last_name, "Last Name", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :last_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :company, "Company", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :company %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :role, "Role", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :role %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :message, "Message to Admin", class: "control-label" %>
      <div class="controls">
        <%= f.text_area :message, size: "30x6" %>
      </div>
    </div>

    <div class="controls">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
