<h2>Add <%= professional.name %></h2>
<%= form_for professional, url: admin_users_invitation_create_professional_path, remote: true do |f| %>
  <% if professional.errors.any? %>
    <div id="error_explanation" class="alert">
      <h3><%= pluralize(professional.errors.count, "error") %>
        prohibited this professional from being saved:</h3>
      <ul>
      <% professional.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :email %>
  <%= f.label :name  %>
  <%= f.text_field :name  %>
  <%= f.fields_for :employments do |builder| %>
      <%= builder.label :role  %>
      <%= builder.text_field :role  %>
      <%= builder.hidden_field :partner_id %>
  <% end %>

  <p>
    <%= f.submit "Add Professional", class: "btn btn-primary" %>
  </p>
<% end %>

<button id="go_back_button" class="btn btn-primary">Go Back</button>
