<div class="row">
	<h2>Sign in</h2>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <%= f.label :email %>
	  <%= f.email_field :email, :autofocus => true %>

	  <%= f.label :password %>
	  <%= f.password_field :password %>

	  <% if devise_mapping.rememberable? -%>
  	  <div class="control-group">
  	    <label for="user_remember_me" class="checkbox">
  	    	<%= f.check_box :remember_me %> Remember me
  	    </label>
  	  </div>
	  <% end -%>

	  <div class="controls">
	  	<%= f.submit "Sign in", class: "btn btn-primary" %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>
