<!-- PUT LINK TO CURRENT USERS PARTNER IF ANY -->
<li><%= link_to "Courses", courses_path, :class => "btn-btn-navbar" %></li>
<% if current_user.has_role? :professional %>
  <li><%= link_to "Students", students_path, :class => "btn-btn-navbar" %></li>
  <li><%= link_to "My Company", partner_path(current_user.employers.first) %></li>
<% end %>
<% if current_user.has_role? :student %>
  <li><%= link_to "Partners", partners_path, :class => "btn-btn-navbar" %></li>
  <li><%= link_to "My Profile", student_path(current_user.student) %></li>
<% end %>
