<div class="navbar navbar-fixed-top navbar-inverse">
  <%= image_tag "cf_logo.png", id: "corner_logo" %>
  <% if user_signed_in? %>
    <%= render 'layouts/navbar_account' %>
  <% end %>
  <div class="navbar-inner">
    <div class="container">
    <ul class="nav">
    <%= link_to "Partner Dashboard", root_path, class: "brand" %>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= render 'layouts/navbar_admin_links' %>
      <% else %>
        <%= render 'layouts/navbar_links' %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
