<!DOCTYPE html>
<html>
<head>
  <title>Partner Dashboard</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>
  <div id="wide_background">
    <div class="base container">
        <% flash.each do |key, value| %>
          <div class="alert <%= key == :alert ? "alert-error" : "alert-info" %>">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= value %>
          </div>
        <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
