<!DOCTYPE html>
<html>
<head>
  <title>PartnerDashboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<div class="container">
    <% flash.each do |key, value| %>
      <div class="alert <%= key == :alert ? "alert-error" : "alert-info" %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= value %>
      </div>
    <% end %>
	<%= yield %>
</div>

</body>
</html>
